* {box-sizing:border-box;}

body {background: url(http://i.imgur.com/qPsly9L.png);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: "comic sans ms", cursive, sans-serif;
text-align: center;}


#form-container{
    text-align: center;
}
#submit-btn{
    margin: 4px;

}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}
#google{
text-align: center;
 width: 100%;
 height: auto;

}

#wikipedia {
    font-family: 'Eczar', serif;
    padding:10px;
    background-color: rgba(255,255,255,0.4);
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

#wikipedia-header {
    text-align: center;
}
#wikiList{
    color: yellow;
    padding: 2px;
}

a{
    color: green;
}


#nytimes-header {
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
}

#nytimes {
    padding: 10px;
    background-color: rgba(255,255,255,0.4);
    margin-bottom: 60px;
    margin-top:10px;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {

    list-style-type: none;
    padding:2px;
    border-top: 1px solid #CCC;
}



@media (min-width: 1281px){
   body{background-repeat: repeat-x;}
}










